body { margin: 0; }
.title {
	display: flex;
	justify-content: center;
	flex-direction:  column;
	text-align: center;
}
.description{
	margin: 0
}
.title-text {
	margin-bottom: 0;
}
#bridge {
	display: block;
	margin: 0 auto;
  background-image: url('./resources/present.jpg');
	background-image: -webkit-image-set(url('./resources/present.jpg') 1x, url('./resources/present.jpg') 2x );
	background-size: cover;
	width: auto;
	height: auto;
  cursor:  crosshair;
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/circular-cursor.png) 53 53, crosshair;
}
#bridgeContainer { 
  text-align: center;
  font-family: Avenir, sans-serif;
}
#bridgeContainer figcaption {   
  margin-top: 2rem; 
}